#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

SHELL=/bin/bash

%:
	dh $@ --parallel

override_dh_clean:
	dh_clean
	find . \( -name "*.pvr" -o -name "config.status" -o -name "config.cache" -o -name "config.log" \
	-o -name "config.guess" -o -name "config.sub" -o -name "Makefile.in" -o -name "INSTALL" \
	-o -name "aclocal.m4" -o -name "configure" -o -name "depcomp" -o -name "install-sh"  \
	-o -name "ltmain.sh" -o -name "missing" -o -name "libvdr-*.so.*" \
	 \) -exec rm -f "{}" \;
	$(MAKE) clean -C addons/pvr.vdr.vnsi/vdr-plugin-vnsiserver

override_dh_auto_configure:
	./bootstrap
	./configure --prefix=/usr --enable-addons-with-dependencies --enable-release

override_dh_gencontrol:
	sh /usr/share/vdr-dev/dependencies.sh
	dh_gencontrol

override_dh_auto_build:
	VDRDIR=/usr/include/vdr LIBDIR=$(CURDIR)/debian/vdr-plugin-vnsiserver/usr/lib/vdr/plugins LOCALEDIR=locale $(MAKE) compile -C addons/pvr.vdr.vnsi/vdr-plugin-vnsiserver
	dh_auto_build

override_dh_auto_install:
	VDRDIR=/usr/include/vdr LIBDIR=$(CURDIR)/debian/vdr-plugin-vnsiserver/usr/lib/vdr/plugins LOCALEDIR=locale $(MAKE) install-lib -C addons/pvr.vdr.vnsi/vdr-plugin-vnsiserver
	dh_auto_install

override_dh_gencontrol:
	for PACKAGE in $(shell cd debian && ls *.version | sed 's/.version//g'); do \
             VERSION=$$(cat debian/$$PACKAGE.version) ;\
             dh_gencontrol -p$$PACKAGE -- -ldebian/changelog -v$$VERSION ;\
        done
